Animator.meta
Config.meta
Materials.meta
Model.meta
OBMatting.meta
Plugins.meta
Prefab.meta
Resources.meta
Scenes.meta
Scripts.meta
Skeleton.meta
StreamingAssets.meta
Animator/BlankAnimator.controller
Animator/BlankAnimator.controller.meta
Config/ConfigLoader.cs
Config/ConfigLoader.cs.meta
Config/Configs.cs
Config/Configs.cs.meta
Materials/black.mat
Materials/black.mat.meta
Materials/blue.mat
Materials/blue.mat.meta
Materials/geen.mat
Materials/geen.mat.meta
Materials/GroundMaterial.mat
Materials/GroundMaterial.mat.meta
Materials/Hologram_Flicker_Blue.mat
Materials/Hologram_Flicker_Blue.mat.meta
Materials/Hologram_Flicker_Green.mat
Materials/Hologram_Flicker_Green.mat.meta
Materials/Hologram_Flicker_Red.mat
Materials/Hologram_Flicker_Red.mat.meta
Materials/Joint.mat
Materials/Joint.mat.meta
Materials/lightBlue.mat
Materials/lightBlue.mat.meta
Materials/MonitoringAreaMaterial.mat
Materials/MonitoringAreaMaterial.mat.meta
Materials/orange.mat
Materials/orange.mat.meta
Materials/pink.mat
Materials/pink.mat.meta
Materials/red.mat
Materials/red.mat.meta
Materials/SkinPerson.mat
Materials/SkinPerson.mat.meta
Materials/Target-Marketing.png
Materials/Target-Marketing.png.meta
Materials/targetMaterial.mat
Materials/targetMaterial.mat.meta
Model/Female_Adult_11.fbx
Model/Female_Adult_11.fbx.meta
Model/jasper.fbx
Model/jasper.fbx.meta
Model/mat.meta
Model/texture.meta
Model/mat/Bodymat 1.mat
Model/mat/Bodymat 1.mat.meta
Model/mat/Bodymat 2.mat
Model/mat/Bodymat 2.mat.meta
Model/mat/Bottommat.mat
Model/mat/Bottommat.mat.meta
Model/mat/Hairmat.mat
Model/mat/Hairmat.mat.meta
Model/mat/Shoesmat.mat
Model/mat/Shoesmat.mat.meta
Model/mat/Topmat.mat
Model/mat/Topmat.mat.meta
Model/texture/Jasper_Body_Diffuse.png
Model/texture/Jasper_Body_Diffuse.png.meta
Model/texture/Jasper_Body_Gloss.png
Model/texture/Jasper_Body_Gloss.png.meta
Model/texture/Jasper_Body_Normal.png
Model/texture/Jasper_Body_Normal.png.meta
Model/texture/Jasper_Body_Opacity.png
Model/texture/Jasper_Body_Opacity.png.meta
Model/texture/Jasper_Body_Specular.png
Model/texture/Jasper_Body_Specular.png.meta
Model/texture/Jasper_Bottom_Diffuse.png
Model/texture/Jasper_Bottom_Diffuse.png.meta
Model/texture/Jasper_Bottom_Gloss.png
Model/texture/Jasper_Bottom_Gloss.png.meta
Model/texture/Jasper_Bottom_Normal.png
Model/texture/Jasper_Bottom_Normal.png.meta
Model/texture/Jasper_Bottom_Opacity.png
Model/texture/Jasper_Bottom_Opacity.png.meta
Model/texture/Jasper_Bottom_Specular.png
Model/texture/Jasper_Bottom_Specular.png.meta
Model/texture/Jasper_Hair_Diffuse.png
Model/texture/Jasper_Hair_Diffuse.png.meta
Model/texture/Jasper_Hair_Gloss.png
Model/texture/Jasper_Hair_Gloss.png.meta
Model/texture/Jasper_Hair_Normal.png
Model/texture/Jasper_Hair_Normal.png.meta
Model/texture/Jasper_Hair_Opacity.png
Model/texture/Jasper_Hair_Opacity.png.meta
Model/texture/Jasper_Hair_Specular.png
Model/texture/Jasper_Hair_Specular.png.meta
Model/texture/Jasper_Shoes_Diffuse.png
Model/texture/Jasper_Shoes_Diffuse.png.meta
Model/texture/Jasper_Shoes_Gloss.png
Model/texture/Jasper_Shoes_Gloss.png.meta
Model/texture/Jasper_Shoes_Normal.png
Model/texture/Jasper_Shoes_Normal.png.meta
Model/texture/Jasper_Shoes_Opacity.png
Model/texture/Jasper_Shoes_Opacity.png.meta
Model/texture/Jasper_Shoes_Specular.png
Model/texture/Jasper_Shoes_Specular.png.meta
Model/texture/Jasper_Top_Diffuse.png
Model/texture/Jasper_Top_Diffuse.png.meta
Model/texture/Jasper_Top_Gloss.png
Model/texture/Jasper_Top_Gloss.png.meta
Model/texture/Jasper_Top_Normal.png
Model/texture/Jasper_Top_Normal.png.meta
Model/texture/Jasper_Top_Opacity.png
Model/texture/Jasper_Top_Opacity.png.meta
Model/texture/Jasper_Top_Specular.png
Model/texture/Jasper_Top_Specular.png.meta
OBMatting/Context.cs
OBMatting/Context.cs.meta
OBMatting/Frame.cs
OBMatting/Frame.cs.meta
OBMatting/Image.cs
OBMatting/Image.cs.meta
OBMatting/LoadBackground.cs
OBMatting/LoadBackground.cs.meta
OBMatting/MaskColorImage.shader
OBMatting/MaskColorImage.shader.meta
OBMatting/MaskImage.mat
OBMatting/MaskImage.mat.meta
OBMatting/OBMattingDemo.cs
OBMatting/OBMattingDemo.cs.meta
OBMatting/ObmNative.cs
OBMatting/ObmNative.cs.meta
OBMatting/ObmTypes.cs
OBMatting/ObmTypes.cs.meta
OBMatting/ObmUtils.cs
OBMatting/ObmUtils.cs.meta
OBMatting/Plugins.meta
OBMatting/Scenes.meta
OBMatting/Session.cs
OBMatting/Session.cs.meta
OBMatting/UnlitMaterial.mat
OBMatting/UnlitMaterial.mat.meta
OBMatting/UnlitShader.shader
OBMatting/UnlitShader.shader.meta
OBMatting/Plugins/obm.dll
OBMatting/Plugins/obm.dll.meta
OBMatting/Plugins/opencv_world341.dll
OBMatting/Plugins/opencv_world341.dll.meta
OBMatting/Scenes/SampleScene.unity
OBMatting/Scenes/SampleScene.unity.meta
Plugins/depthengine_2_0.dll
Plugins/depthengine_2_0.dll.meta
Plugins/directml.dll
Plugins/directml.dll.meta
Plugins/k4a.dll
Plugins/k4a.dll.meta
Plugins/k4abt.dll
Plugins/k4abt.dll.meta
Plugins/k4arecord.dll
Plugins/k4arecord.dll.meta
Plugins/Microsoft.Azure.Kinect.BodyTracking.deps.json
Plugins/Microsoft.Azure.Kinect.BodyTracking.deps.json.meta
Plugins/Microsoft.Azure.Kinect.BodyTracking.dll
Plugins/Microsoft.Azure.Kinect.BodyTracking.dll.meta
Plugins/Microsoft.Azure.Kinect.BodyTracking.pdb
Plugins/Microsoft.Azure.Kinect.BodyTracking.pdb.meta
Plugins/Microsoft.Azure.Kinect.BodyTracking.xml
Plugins/Microsoft.Azure.Kinect.BodyTracking.xml.meta
Plugins/Microsoft.Azure.Kinect.Sensor.deps.json
Plugins/Microsoft.Azure.Kinect.Sensor.deps.json.meta
Plugins/Microsoft.Azure.Kinect.Sensor.dll
Plugins/Microsoft.Azure.Kinect.Sensor.dll.meta
Plugins/Microsoft.Azure.Kinect.Sensor.pdb
Plugins/Microsoft.Azure.Kinect.Sensor.pdb.meta
Plugins/Microsoft.Azure.Kinect.Sensor.xml
Plugins/Microsoft.Azure.Kinect.Sensor.xml.meta
Plugins/onnxruntime_providers_cuda.dll
Plugins/onnxruntime_providers_cuda.dll.meta
Plugins/onnxruntime_providers_shared.dll
Plugins/onnxruntime_providers_shared.dll.meta
Plugins/onnxruntime_providers_tensorrt.dll
Plugins/onnxruntime_providers_tensorrt.dll.meta
Plugins/onnxruntime.dll
Plugins/onnxruntime.dll.meta
Plugins/OrbbecSDK.dll
Plugins/OrbbecSDK.dll.meta
Plugins/System.Buffers.dll
Plugins/System.Buffers.dll.meta
Plugins/System.Memory.dll
Plugins/System.Memory.dll.meta
Plugins/System.Reflection.Emit.Lightweight.dll
Plugins/System.Reflection.Emit.Lightweight.dll.meta
Plugins/System.Runtime.CompilerServices.Unsafe.dll
Plugins/System.Runtime.CompilerServices.Unsafe.dll.meta
Prefab/Female_Adult_11.prefab
Prefab/Female_Adult_11.prefab.meta
Prefab/jasper.prefab
Prefab/jasper.prefab.meta
Prefab/Kinect4AzureTracker.prefab
Prefab/Kinect4AzureTracker.prefab.meta
Resources/BillingMode.json
Resources/BillingMode.json.meta
Scenes/Kinect4AzureSampleScene.unity
Scenes/Kinect4AzureSampleScene.unity.meta
Scenes/PuppetMaster.unity
Scenes/PuppetMaster.unity.meta
StreamingAssets/config.json
StreamingAssets/config.json.meta
msgbrowser_settings.asset
msgbrowser_settings.asset.meta
RosMessages.meta
Resources/GeometryCompassSettings.asset
Resources/GeometryCompassSettings.asset.meta
Resources/ROSConnectionPrefab.prefab
Resources/ROSConnectionPrefab.prefab.meta
RosMessages/UnityRoboticsDemo.meta
RosMessages/UnityRoboticsDemo/msg.meta
RosMessages/UnityRoboticsDemo/srv.meta
RosMessages/UnityRoboticsDemo/msg/PosRotMsg.cs.meta
RosMessages/UnityRoboticsDemo/msg/UnityColorMsg.cs.meta
RosMessages/UnityRoboticsDemo/srv/ObjectPoseServiceRequest.cs.meta
RosMessages/UnityRoboticsDemo/srv/ObjectPoseServiceResponse.cs.meta
RosMessages/UnityRoboticsDemo/srv/PositionServiceRequest.cs.meta
RosMessages/UnityRoboticsDemo/srv/PositionServiceResponse.cs.meta
Scripts/RosPublisherExample.cs.meta
